.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  padding: 2rem;
  margin: 2rem;
  outline: 2px black solid;
  align-items: center;
  justify-content: center;
}
.box input{
  padding: 1rem;
  margin: 1rem;
}
.box button{
  padding: .8rem 5rem;
}

.box .inp_fld{
  
}

p{
  color: darkblue;

}
p:hover{
  cursor: pointer;
}
